{% extends 'base.html.twig' %}

{% block title %}À propos
{% endblock %}

{% block body %}

	{% include '_partials/_header.html.twig' %}


	<section class="container position-relative">
		<div class="p-4 position-relative box-content">

			<h3>Contexte</h3>

			<p>MSSC (Mon Site Se Crée) Brief est une application métier spécialement conçue pour notre agence de communication digitale, Dynamic Creative. Elle facilite le suivi interne des briefs clients créés par notre équipe commerciale.


				<br><br>
				MSSC est une solution comportant deux offres : un pack artisan et un pack avocat. Elle permet à ces professionnels de créer leur site Wordpress. Afin de rendre le processus fluide, ils choisissent parmi une variété de modèles préconçus, taillés sur mesure pour répondre à leurs besoins. L’application joue un rôle essentiel puisqu’elle permet à l’équipe de créer, gérer et conserver une archive de chaque brief, comprenant des détails tels que les informations client, le site et hébergeur actuels, l’offre choisie, la date de mise en service, etc. Elle permet également de joindre divers types de fichiers tels que des images et documents.
				<br><br>


				Une fois créé, le brief peut être modifié, consulté, téléchargé ou supprimé par tout utilisateur disposant des droits de gestion. Ces actions se font via une liste regroupant la totalité des briefs déjà renseignés avec leurs informations principales. La recherche d’un brief peut s’effectuer grâce au nom de société ou suivant son statut. De plus, un tri ascendant ou descendant peut être opéré sur les différentes colonnes.
				<br><br>


				Côté sécurité, MSSC Brief n’est accessible qu’aux utilisateurs connectés disposant des droits de gestion. Un panneau d’administration permet d’attribuer ou de révoquer ces droits. Les principales technologies utilisées sont : Symfony 6.2 (PHP), Twig, HTML, CSS, JS, MySQL et Bootstrap 5.


			</p>

			<a href="https://www.dynamic-creative.com/" class="mx-2"><img src="{{ asset('assets/img/logo-dynamic-creative.svg') }}" alt="logo dynamic creative" class="img-fluid"></a>


		</div>
	</section>

{% endblock %}
