/** FORM **/

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
#brief_online_date {
  border-radius: 25px !important;
}

option,
label,
select {
  color: var(--text_one) !important;
  margin-right: 10px;
}

/* Stylise les boutons radio checked */
input[type="radio"] {
  appearance: none; /* Supprime le style des navigateurs par défaut */
  width: 15px;
  height: 15px;
  border: 1px solid var(--text_one);
  border-radius: 50%;
  background-clip: content-box;
  padding: 2px;
  margin: -2px 5px;
}

input[type="radio"]:checked {
  background-color: var(--color_one);
  border: 1px solid var(--color_one);
}

/* Supprime les bordures du "datepicker" */
#brief_online_date_month,
#brief_online_date_day,
#brief_online_date_year {
  border: 0px;
}

/* Supprime les boutons radio du choix du pack */
.btn-checkbox input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="file"]::file-selector-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color_one);
  color: var(--color_thr);
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color_fiv);
}

/** SHOW FORM **/
.data-block {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

/** REGISTRATION FORM **/
input[type="checkbox"]:checked {
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 20%;
  background-clip: content-box;
  padding: 2px;
  background-color: var(--color_one) !important;
  border: 1px solid var(--color_one) !important;
}
