@import url("https://fonts.googleapis.com/css2?family=Domine&family=Open+Sans&display=swap");

:root {
  --color_one: #00ab97;
  --color_two: #f9ae00;
  --color_thr: #ffffff;
  --color_fou: #db9500;
  --color_fiv: #00796b;
  --text_one: #8d8d8d;
  --text_two: #424242;
}

body {
  color: var(--text_one);
  font-size: 16px;
  position: relative;
}

a {
  text-decoration: none !important;
  --bs-link-color-rgb: var(--text_two) !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--color_thr) !important;
}

@media (max-width: 767px) {
  body {
    font-size: 0.9em;
  }
  h1 {
    font-size: 2.5em !important;
  }
  .btn {
    --bs-btn-font-size: 0.8rem !important;
  }
}

/** TITLES **/

h1 {
  font-family: "Domine", Arial, serif;
  color: var(--color_thr);
  font-weight: bold;
  font-size: 3.3em;
}

h2,
h3,
h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}

h2 {
  color: var(--color_two);
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  color: var(--color_one);
  font-size: 1.3em;
}

h4 {
  color: var(--color_two);
  font-size: 1em;
}

.box-content {
  background: #ffffff;
  top: -170px;
  right: 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin: 0 auto;
}

/* Styles pour les écrans de la taille de la tablette et plus grands */
@media screen and (min-width: 1024px) {
  .small-content {
    width: 55%;
  }
}

/** BTN BOOTSTRAP SURCOUCHE **/
.btn {
  --bs-btn-padding-x: 1.2rem;
  --bs-btn-padding-y: 1.063rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 1;
  --bs-btn-border-radius: 50px;
  box-shadow: none !important;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color_two);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color_fou);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color_two);
  transition: 0.5s;
  border: none !important;
  text-transform: uppercase;
}

.btn-secondary {
  transition: 0.5s;
}

/** PROFIL **/
.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--text_two);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}

/** TABLEAU BRIEFS **/

.input-group .search-input:focus,
.input-group .filter-input:focus {
  z-index: 1;
  position: relative;
}

.search-btn,
.filter-btn {
  padding: 0.375rem 0.75rem !important;
  z-index: 2;
  right: 0px;
  border: none !important;
}

.badge-table {
  position: absolute;
  top: -20px;
}

.table {
  border-collapse: separate !important;
  border-spacing: 0 1em !important;
}

/* Rend plus lisibles les rows des briefs avec le statut "Terminé" */
.table-dark {
  --bs-table-bg: #b6c5d3;
  color: #000000;
}

/* réduire l'opacité à 50% pour les icônes SVG */
img.svg-action {
  opacity: 0.6;
  transition: 0.5s;
}

/* augmenter l'opacité à 100% au survol des icônes SVG */
img.svg-action:hover {
  opacity: 1;
}

.page-link {
  color: var(--color_one);
  transition: 0.5s;
}

.page-link:hover {
  color: var(--color_fiv);
}

.active > .page-link,
.page-link.active {
  background-color: var(--color_one);
  border-color: var(--color_one);
}

/** PARTIALS **/

.header {
  background-color: var(--color_one);
}

.footer {
  background-color: var(--text_two);
  color: var(--color_thr);
}

/** SIZING **/

.h500 {
  height: 500px;
}

/** FORM **/

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
#brief_online_date {
  border-radius: 25px !important;
}

option,
label,
select {
  color: var(--text_one) !important;
}

/* Stylise les boutons radio checked */
input[type="radio"] {
  appearance: none; /* Supprime le style des navigateurs par défaut */
  width: 15px;
  height: 15px;
  border: 1px solid var(--text_one);
  border-radius: 50%;
  background-clip: content-box;
  padding: 2px;
  margin: -2px 5px;
}

input[type="radio"]:checked {
  background-color: var(--color_one);
  border: 1px solid var(--color_one);
}

/* Supprime les bordures du "datepicker" */
#brief_online_date_month,
#brief_online_date_day,
#brief_online_date_year {
  border: 0px;
}

/* Supprime les boutons radio du choix du pack */
.btn-checkbox input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="file"]::file-selector-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color_one);
  color: var(--color_thr);
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color_fiv);
}
/** SHOW FORM **/

.data-block {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

/** REGISTRATION FORM **/
input[type="checkbox"]:checked {
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 20%;
  background-clip: content-box;
  padding: 2px;
  background-color: var(--color_one) !important;
  border: 1px solid var(--color_one) !important;
}
